#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git-ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
!.gitignore

#
# Top-level generic files
#
tags
TAGS
vmlinux
System.map
Module.markers
Module.symvers
!.mailmap

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

*.orig
*~
\#*#

# Storage dirs
*L865/
*ppc4/

# Executable
*.L865
*.ppc4

# Dont track RCS repos
RCS/

# Dont track rand editor scratch files
,*

# Dont track packaged tarballs
tar*.bz2

# Vd80 temp files
vd80/object_vd80/VD80.plot
vd80/object_vd80/VD80SAMP.01.01
vd80/object_vd80/install
vd80/object_vd80/libvd80.so.1.0
vd80/object_vd80/vd80.xml

# Patches
patch/
